certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
kafka-python==1.4.6
MarkupSafe==1.1.1
oauthlib==3.0.1
psutil==5.6.1
py4j==0.10.7
pyspark==2.4.1
pyspark-stubs==2.4.0.post1
python-common-utils==1.0.0
requests==2.21.0
requests-oauthlib==1.2.0
urllib3==1.24.1
Werkzeug==0.15.2
tabulate==0.8.3
